fastapi==0.115.8
uvicorn[standard]==0.34.0
pydantic==2.10.6
pydantic-settings==2.7.1

SQLAlchemy==2.0.38
alembic==1.14.1
psycopg[binary]==3.2.4

python-dotenv==1.0.1
httpx>=0.25.0

qrcode==7.4.2
Pillow>=11.0.0
